In [2]:
os.chdir('..')

In [3]:
import os
import numpy as np
import pandas as pd
from google.cloud import bigquery
from smallscout.params import *
import db_dtypes

In [4]:
df = pd.read_csv('raw_data/data_for_preprocessing.csv', index_col=0)
df.shape

(170124, 59)

In [5]:
df= pd.read_csv('raw_data/datasets/data_for_preprocessing.csv', index_col=0)
df.shape

(173345, 60)

In [7]:
df['qtr'] = df.quarter.apply(lambda x: x.split('-')[1])
df.head()

,cik,name,date,Assets,AssetsCurrent,Cash,AssetsNoncurrent,Liabilities,LiabilitiesCurrent,LiabilitiesNoncurrent,...,market_cap,mc_qtr_growth,mc_qtr_growth_pct,mc_yr_growth,mc_yr_growth_pct,mc_2yr_growth,mc_2yr_growth_pct,small_cap,micro_cap,qtr
0,1750,AAR CORP,2011-02-28,1.655991e+09,9.278390e+08,54716000.0,409295000.0,8.513950e+08,419182000.0,432213000.0,...,1045.889727,46.783392,0.046825,77.281557,0.079786,NaN,NaN,1,0,Q1
1,1750,AAR CORP,2011-05-31,1.703727e+09,9.139850e+08,57433000.0,465365000.0,8.684380e+08,416010000.0,452428000.0,...,1024.472219,-21.417508,-0.020478,306.796787,0.427487,NaN,NaN,1,0,Q2
2,1750,AAR CORP,2011-08-31,1.752372e+09,9.442470e+08,35523000.0,472856000.0,9.032430e+08,350085000.0,553158000.0,...,882.619592,-141.852627,-0.138464,255.395538,0.407184,NaN,NaN,1,0,Q3
3,1750,AAR CORP,2011-11-30,1.821612e+09,9.550530e+08,27870000.0,521431000.0,9.582200e+08,374944000.0,583276000.0,...,727.886752,-154.732840,-0.175311,-271.219583,-0.271462,NaN,NaN,1,0,Q4
4,1750,AAR CORP,2012-02-29,2.220293e+09,1.065389e+09,59294000.0,797765000.0,1.328974e+09,560986000.0,767988000.0,...,899.522315,171.635564,0.235800,-146.367411,-0.139945,-69.085854,-0.071325,1,0,Q1

In [8]:
df.columns

Index(['cik', 'name', 'date', 'Assets', 'AssetsCurrent', 'Cash',
       'AssetsNoncurrent', 'Liabilities', 'LiabilitiesCurrent',
       'LiabilitiesNoncurrent', 'Equity', 'HolderEquity', 'RetainedEarnings',
       'AdditionalPaidInCapital', 'TreasuryStockValue', 'TemporaryEquity',
       'RedeemableEquity', 'LiabilitiesAndEquity', 'Revenues', 'CostOfRevenue',
       'GrossProfit', 'OperatingExpenses', 'OperatingIncomeLoss',
       'IncomeLossFromContinuingOperationsBeforeIncomeTaxExpenseBenefit',
       'AllIncomeTaxExpenseBenefit', 'IncomeLossFromContinuingOperations',
       'IncomeLossFromDiscontinuedOperationsNetOfTax', 'ProfitLoss',
       'NetIncomeLossAttributableToNoncontrollingInterest', 'NetIncomeLoss',
       'NetCashProvidedByUsedInOperatingActivitiesContinuingOperations',
       'NetCashProvidedByUsedInFinancingActivitiesContinuingOperations',
       'NetCashProvidedByUsedInInvestingActivitiesContinuingOperations',
       'NetCashProvidedByUsedInOperatingActivities',
       'NetCashProvidedByUsedInFinancingActivities',
       'NetCashProvidedByUsedInInvestingActivities',
       'CashProvidedByUsedInOperatingActivitiesDiscontinuedOperations',
       'CashProvidedByUsedInInvestingActivitiesDiscontinuedOperations',
       'CashProvidedByUsedInFinancingActivitiesDiscontinuedOperations',
       'EffectOfExchangeRateFinal',
       'CashPeriodIncreaseDecreaseIncludingExRateEffectFinal', 'afs', 'sic_2d',
       'quarter', 'year', 'GDP', 'interest_rate', 'unemployment_rate',
       'median_cpi', 'CIK', 'TICKER', 'market_cap', 'mc_qtr_growth',
       'mc_qtr_growth_pct', 'mc_yr_growth', 'mc_yr_growth_pct',
       'mc_2yr_growth', 'mc_2yr_growth_pct', 'small_cap', 'micro_cap', 'qtr'],
      dtype='object')

In [9]:
cols = ['name', 'TICKER', 'date', 'quarter', 'Assets', 'AssetsCurrent', 'Cash', 'AssetsNoncurrent', 'Liabilities', 'LiabilitiesCurrent', 
        'LiabilitiesNoncurrent', 'Equity', 'HolderEquity', 'RetainedEarnings', 'AdditionalPaidInCapital', 
        'TreasuryStockValue', 'TemporaryEquity', 'RedeemableEquity', 'LiabilitiesAndEquity', 'Revenues', 
        'CostOfRevenue', 'GrossProfit', 'OperatingExpenses', 'OperatingIncomeLoss', 
        'IncomeLossFromContinuingOperationsBeforeIncomeTaxExpenseBenefit', 'AllIncomeTaxExpenseBenefit', 
        'IncomeLossFromContinuingOperations', 'IncomeLossFromDiscontinuedOperationsNetOfTax', 'ProfitLoss', 
        'NetIncomeLossAttributableToNoncontrollingInterest', 'NetIncomeLoss', 
        'NetCashProvidedByUsedInOperatingActivitiesContinuingOperations', 
        'NetCashProvidedByUsedInFinancingActivitiesContinuingOperations', 
        'NetCashProvidedByUsedInInvestingActivitiesContinuingOperations', 
        'NetCashProvidedByUsedInOperatingActivities', 'NetCashProvidedByUsedInFinancingActivities', 
        'NetCashProvidedByUsedInInvestingActivities',
       'CashProvidedByUsedInOperatingActivitiesDiscontinuedOperations', 
        'CashProvidedByUsedInInvestingActivitiesDiscontinuedOperations', 
        'CashProvidedByUsedInFinancingActivitiesDiscontinuedOperations', 'EffectOfExchangeRateFinal', 
        'CashPeriodIncreaseDecreaseIncludingExRateEffectFinal', 'afs', 'sic_2d', 'GDP', 'interest_rate', 
        'unemployment_rate', 'median_cpi', 'small_cap', 'micro_cap', 'market_cap', 'qtr']

In [10]:
df = df[cols]

In [11]:
df.columns

Index(['name', 'TICKER', 'date', 'quarter', 'Assets', 'AssetsCurrent', 'Cash',
       'AssetsNoncurrent', 'Liabilities', 'LiabilitiesCurrent',
       'LiabilitiesNoncurrent', 'Equity', 'HolderEquity', 'RetainedEarnings',
       'AdditionalPaidInCapital', 'TreasuryStockValue', 'TemporaryEquity',
       'RedeemableEquity', 'LiabilitiesAndEquity', 'Revenues', 'CostOfRevenue',
       'GrossProfit', 'OperatingExpenses', 'OperatingIncomeLoss',
       'IncomeLossFromContinuingOperationsBeforeIncomeTaxExpenseBenefit',
       'AllIncomeTaxExpenseBenefit', 'IncomeLossFromContinuingOperations',
       'IncomeLossFromDiscontinuedOperationsNetOfTax', 'ProfitLoss',
       'NetIncomeLossAttributableToNoncontrollingInterest', 'NetIncomeLoss',
       'NetCashProvidedByUsedInOperatingActivitiesContinuingOperations',
       'NetCashProvidedByUsedInFinancingActivitiesContinuingOperations',
       'NetCashProvidedByUsedInInvestingActivitiesContinuingOperations',
       'NetCashProvidedByUsedInOperatingActivities',
       'NetCashProvidedByUsedInFinancingActivities',
       'NetCashProvidedByUsedInInvestingActivities',
       'CashProvidedByUsedInOperatingActivitiesDiscontinuedOperations',
       'CashProvidedByUsedInInvestingActivitiesDiscontinuedOperations',
       'CashProvidedByUsedInFinancingActivitiesDiscontinuedOperations',
       'EffectOfExchangeRateFinal',
       'CashPeriodIncreaseDecreaseIncludingExRateEffectFinal', 'afs', 'sic_2d',
       'GDP', 'interest_rate', 'unemployment_rate', 'median_cpi', 'small_cap',
       'micro_cap', 'market_cap', 'qtr'],
      dtype='object')

In [12]:
def load_data_to_bq(
        data: pd.DataFrame,
        gcp_project:str,
        bq_dataset:str,
        table: str,
        truncate: bool
    ) -> None:
    """
    - Save the DataFrame to BigQuery
    - Empty the table beforehand if `truncate` is True, append otherwise
    """

    assert isinstance(data, pd.DataFrame)
    full_table_name = f"{gcp_project}.{bq_dataset}.{table}"
    #data.columns = ['pickup_datetime'] + [f"_{i}" for i in range(1,len(data.columns)-1)] + ['fare_amount']

    # Load data onto full_table_name
    client = bigquery.Client(gcp_project)
    write_mode = "WRITE_TRUNCATE" if truncate else "WRITE_APPEND"
    job_config = bigquery.LoadJobConfig(write_disposition=write_mode)

    job = client.load_table_from_dataframe(data, full_table_name, job_config=job_config)
    result = job.result()

    # ðŸŽ¯ HINT for "*** TypeError: expected bytes, int found":
    # After preprocessing the data, your original column names are gone (print it to check),
    # so ensure that your column names are *strings* that start with either
    # a *letter* or an *underscore*, as BQ does not accept anything else


    print(f"âœ… Data saved to bigquery, with shape {data.shape}")

In [13]:
full_table_name = f"{GCP_PROJECT}.{BQ_DATASET}.{BQ_REGION}"
full_table_name

'lw-bootcamp-429514.smallcapscout.EU'

In [14]:
load_data_to_bq(data=df, gcp_project=GCP_PROJECT, bq_dataset=BQ_DATASET, table=BQ_REGION, truncate=False)

âœ… Data saved to bigquery, with shape (173345, 52)

In [15]:
ticker = 'META'
quarter = df.quarter.iloc[-1]
quarter

'2024-Q1'

In [16]:
query = f"""       
    SELECT *
    FROM {GCP_PROJECT}.{BQ_DATASET}.{BQ_REGION}
    WHERE TICKER = '{ticker}'
    ORDER BY DATE
    """

client = bigquery.Client(project=GCP_PROJECT)
query_job = client.query(query)
result = query_job.result()
data = result.to_dataframe()

/Users/christophernance/.pyenv/versions/3.10.6/envs/small-cap-scout/lib/python3.10/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [17]:
data

,name,TICKER,date,quarter,Assets,AssetsCurrent,Cash,AssetsNoncurrent,Liabilities,LiabilitiesCurrent,...,afs,sic_2d,GDP,interest_rate,unemployment_rate,median_cpi,small_cap,micro_cap,market_cap,qtr
0,"META PLATFORMS, INC.",META,2013-03-31,2013-Q1,1.516300e+10,1.104200e+10,2.325000e+09,4.121000e+09,3.339000e+09,1.063000e+09,...,4-NON,73,0.745356,0.14,7.6,1.215358,0,0,6.617569e+04,Q1
1,"META PLATFORMS, INC.",META,2013-06-30,2013-Q2,1.572400e+10,1.142100e+10,3.001000e+09,4.303000e+09,3.375000e+09,1.080000e+09,...,4-NON,73,2.083069,0.09,7.6,2.137250,0,0,5.887117e+04,Q2
2,"META PLATFORMS, INC.",META,2013-09-30,2013-Q3,1.493300e+10,1.054900e+10,3.100000e+09,4.384000e+09,1.885000e+09,9.840000e+08,...,4-NON,73,5.305288,0.08,7.2,2.232160,0,0,1.005641e+05,Q3
3,"META PLATFORMS, INC.",META,2013-12-31,2013-Q4,1.789500e+10,1.307000e+10,3.323000e+09,4.825000e+09,2.425000e+09,1.100000e+09,...,1-LAF,73,-2.479057,0.09,6.7,2.844644,0,0,1.154015e+05,Q4
4,"META PLATFORMS, INC.",META,2014-03-31,2014-Q1,1.902800e+10,1.406000e+10,2.998000e+09,4.968000e+09,2.291000e+09,1.037000e+09,...,1-LAF,73,4.429802,0.08,6.7,2.858977,0,0,1.745554e+05,Q1
5,"META PLATFORMS, INC.",META,2014-06-30,2014-Q2,2.076900e+10,1.555700e+10,4.384000e+09,5.212000e+09,2.423000e+09,1.214000e+09,...,1-LAF,73,6.147927,0.10,6.1,1.311364,0,0,1.624498e+05,Q2
6,"META PLATFORMS, INC.",META,2014-09-30,2014-Q3,2.418800e+10,1.611500e+10,8.999000e+09,8.073000e+09,2.950000e+09,1.234000e+09,...,1-LAF,73,1.806582,0.09,5.9,1.935411,0,0,1.945359e+05,Q3
7,"META PLATFORMS, INC.",META,2014-12-31,2014-Q4,4.018400e+10,1.367000e+10,4.315000e+09,2.651400e+10,4.088000e+09,1.424000e+09,...,1-LAF,73,4.056326,0.12,5.6,2.383394,0,0,2.093674e+05,Q4
8,"META PLATFORMS, INC.",META,2015-03-31,2015-Q1,4.200700e+10,1.500400e+10,3.419000e+09,2.700300e+10,4.506000e+09,1.746000e+09,...,1-LAF,73,3.978531,0.11,5.5,2.433336,0,0,2.210380e+05,Q1
9,"META PLATFORMS, INC.",META,2015-06-30,2015-Q2,4.413000e+10,1.695100e+10,5.123000e+09,2.717900e+10,4.678000e+09,1.881000e+09,...,1-LAF,73,1.737486,0.13,5.3,2.972400,0,0,2.254733e+05,Q2
10,"META PLATFORMS, INC.",META,2015-09-30,2015-Q3,4.646900e+10,1.913900e+10,4.308000e+09,2.733000e+10,5.049000e+09,1.792000e+09,...,1-LAF,73,0.532304,0.14,5.1,2.998416,0,0,2.457745e+05,Q3
11,"META PLATFORMS, INC.",META,2015-12-31,2015-Q4,4.940700e+10,2.165200e+10,4.907000e+09,2.775500e+10,5.189000e+09,1.925000e+09,...,1-LAF,73,2.440282,0.24,5.0,1.834720,0,0,3.029347e+05,Q4
12,"META PLATFORMS, INC.",META,2016-03-31,2016-Q1,5.207500e+10,2.381200e+10,6.456000e+09,2.826300e+10,4.925000e+09,1.809000e+09,...,1-LAF,73,0.741044,0.36,5.0,2.222005,0,0,3.221395e+05,Q1
13,"META PLATFORMS, INC.",META,2016-06-30,2016-Q2,5.573900e+10,2.701000e+10,5.108000e+09,2.872900e+10,5.356000e+09,2.211000e+09,...,1-LAF,73,3.181810,0.38,4.9,2.103390,0,0,3.397470e+05,Q2
14,"META PLATFORMS, INC.",META,2016-09-30,2016-Q3,5.967400e+10,3.032800e+10,6.038000e+09,2.934600e+10,5.559000e+09,2.595000e+09,...,1-LAF,73,2.408768,0.40,5.0,2.498329,0,0,3.623179e+05,Q3
15,"META PLATFORMS, INC.",META,2016-12-31,2016-Q4,6.496100e+10,3.440100e+10,8.903000e+09,3.056000e+10,5.767000e+09,2.875000e+09,...,1-LAF,73,2.590671,0.54,4.7,2.038385,0,0,3.317375e+05,Q4
16,"META PLATFORMS, INC.",META,2017-03-31,2017-Q1,6.871400e+10,3.693000e+10,7.104000e+09,3.178400e+10,6.526000e+09,2.928000e+09,...,1-LAF,73,1.568188,0.79,4.5,1.914384,0,0,3.971412e+05,Q1
17,"META PLATFORMS, INC.",META,2017-06-30,2017-Q2,7.384300e+10,4.080400e+10,6.252000e+09,3.303900e+10,7.362000e+09,3.315000e+09,...,1-LAF,73,3.279595,1.04,4.4,1.896834,0,0,4.391608e+05,Q2
18,"META PLATFORMS, INC.",META,2017-09-30,2017-Q3,7.899800e+10,4.420300e+10,7.201000e+09,3.479500e+10,7.790000e+09,3.305000e+09,...,None,na,4.237048,1.15,4.2,2.870257,0,0,4.995799e+05,Q3
19,"META PLATFORMS, INC.",META,2017-12-31,2017-Q4,8.452400e+10,4.856300e+10,8.079000e+09,3.596100e+10,1.017700e+10,3.760000e+09,...,1-LAF,73,3.816009,1.30,4.1,2.955747,0,0,5.088071e+05,Q4
20,"META PLATFORMS, INC.",META,2018-03-31,2018-Q1,8.894500e+10,5.041200e+10,1.208200e+10,3.853300e+10,1.132500e+10,5.086000e+09,...,1-LAF,73,1.777373,1.51,4.1,1.961900,0,0,5.111058e+05,Q1
21,"META PLATFORMS, INC.",META,2018-06-30,2018-Q2,9.029100e+10,4.983300e+10,1.155200e+10,4.045800e+10,1.090900e+10,4.670000e+09,...,1-LAF,73,2.944529,1.82,4.0,2.632118,0,0,5.615288e+05,Q2
22,"META PLATFORMS, INC.",META,2018-09-30,2018-Q3,9.245200e+10,4.914700e+10,9.637000e+09,4.330500e+10,1.211000e+10,5.462000e+09,...,1-LAF,73,0.782610,1.95,3.7,2.333723,0,0,5.073709e+05,Q3
23,"META PLATFORMS, INC.",META,2018-12-31,2018-Q4,9.733400e+10,5.048000e+10,1.001900e+10,4.685400e+10,1.320700e+10,7.017000e+09,...,1-LAF,73,1.595086,2.27,3.9,2.911777,0,0,4.040833e+05,Q4
24,"META PLATFORMS, INC.",META,2019-03-31,2019-Q1,1.094770e+11,5.330000e+10,1.107600e+10,5.617700e+10,2.296100e+10,9.908000e+09,...,1-LAF,73,3.152954,2.41,3.8,3.210241,0,0,4.631455e+05,Q1
25,"META PLATFORMS, INC.",META,2019-06-30,2019-Q2,1.170060e+11,5.796100e+10,1.387700e+10,5.904500e+10,2.824400e+10,1.297900e+10,...,1-LAF,73,4.959966,2.38,3.7,2.963105,0,0,5.065861e+05,Q2
26,"META PLATFORMS, INC.",META,2019-09-30,2019-Q3,1.244180e+11,6.207900e+10,1.597900e+10,6.233900e+10,3.041900e+10,1.332800e+10,...,1-LAF,73,1.747409,2.04,3.5,2.504403,0,0,5.297073e+05,Q3
27,"META PLATFORMS, INC.",META,2019-12-31,2019-Q4,1.333760e+11,6.622500e+10,1.907900e+10,6.715100e+10,3.232200e+10,1.505300e+10,...,1-LAF,73,5.117058,1.55,3.5,2.525417,0,0,5.750262e+05,Q4
28,"META PLATFORMS, INC.",META,2020-03-31,2020-Q1,1.383710e+11,6.934900e+10,2.361800e+10,6.902200e+10,3.306700e+10,1.506900e+10,...,1-LAF,73,-44.340164,0.65,4.4,2.966116,0,0,5.486262e+05,Q1
29,"META PLATFORMS, INC.",META,2020-06-30,2020-Q2,1.396910e+11,6.813000e+10,2.104500e+10,7.156100e+10,2.924400e+10,1.130800e+10,...,1-LAF,73,33.056940,0.08,11.1,1.630380,0,0,6.607355e+05,Q2
30,"META PLATFORMS, INC.",META,2020-09-30,2020-Q3,1.464370e+11,6.579900e+10,1.161700e+10,8.063800e+10,2.870600e+10,1.194400e+10,...,1-LAF,73,10.181784,0.09,7.9,1.092895,0,0,8.416541e+05,Q3
31,"META PLATFORMS, INC.",META,2020-12-31,2020-Q4,1.593160e+11,7.567000e+10,1.757600e+10,8.364600e+10,3.102600e+10,1.498100e+10,...,1-LAF,73,3.558425,0.09,6.7,1.401262,0,0,8.161783e+05,Q4
32,"META PLATFORMS, INC.",META,2021-03-31,2021-Q1,1.635230e+11,7.732200e+10,1.951300e+10,8.620100e+10,2.986600e+10,1.271700e+10,...,1-LAF,73,11.084923,0.07,6.0,2.452308,0,0,7.543762e+05,Q1
33,"META PLATFORMS, INC.",META,2021-06-30,2021-Q2,1.706090e+11,8.069700e+10,1.618600e+10,8.991200e+10,3.238200e+10,1.487400e+10,...,1-LAF,73,2.656737,0.08,5.9,3.750860,0,0,9.332365e+05,Q2
34,"META PLATFORMS, INC.",META,2021-09-30,2021-Q3,1.695850e+11,7.542100e+10,1.449600e+10,9.416400e+10,3.622500e+10,1.781200e+10,...,1-LAF,73,6.513588,0.08,4.8,4.930690,0,0,1.077169e+06,Q3
35,"META PLATFORMS, INC.",META,2021-12-31,2021-Q4,1.659870e+11,6.666600e+10,1.660100e+10,9.932100e+10,4.110800e+10,2.113500e+10,...,None,na,-0.419764,0.08,3.9,4.864243,0,0,8.640145e+05,Q4
36,"META PLATFORMS, INC.",META,2022-03-31,2022-Q1,1.642180e+11,5.926500e+10,1.488600e+10,1.049530e+11,4.099000e+10,2.108600e+10,...,1-LAF,73,-0.691182,0.20,3.6,6.221319,0,0,5.538880e+05,Q1
37,"META PLATFORMS, INC.",META,2022-06-30,2022-Q2,1.697790e+11,5.598700e+10,1.268100e+10,1.137920e+11,4.401200e+10,2.221700e+10,...,1-LAF,73,1.463561,1.21,3.6,8.010460,0,0,5.105208e+05,Q2
38,"META PLATFORMS, INC.",META,2022-09-30,2022-Q3,1.788940e+11,5.831500e+10,1.430800e+10,1.205790e+11,5.480000e+10,2.268700e+10,...,1-LAF,73,3.713915,2.56,3.5,7.729216,0,0,4.444130e+05,Q3
39,"META PLATFORMS, INC.",META,2022-12-31,2022-Q4,1.857270e+11,5.954900e+10,1.468100e+10,1.261780e+11,6.001400e+10,2.702600e+10,...,1-LAF,73,1.326124,4.10,3.5,6.554623,0,0,3.193525e+05,Q4
40,"META PLATFORMS, INC.",META,2023-03-31,2023-Q1,1.844910e+11,5.248300e+10,1.155100e+10,1.320080e+11,5.969600e+10,2.538100e+10,...,1-LAF,73,0.577370,4.65,3.5,4.624751,0,0,4.496156e+05,Q1
41,"META PLATFORMS, INC.",META,2023-06-30,2023-Q2,2.066880e+11,6.956000e+10,2.878500e+10,1.371280e+11,7.265500e+10,2.992100e+10,...,1-LAF,73,3.878915,5.08,3.6,4.396425,0,0,6.986264e+05,Q2
42,"META PLATFORMS, INC.",META,2023-09-30,2023-Q3,2.162740e+11,7.837800e+10,3.689000e+10,1.378960e+11,7.340100e+10,3.053100e+10,...,None,na,4.782863,5.33,3.8,5.217921,0,0,7.626336e+05,Q3
43,"META PLATFORMS, INC.",META,2023-12-31,2023-Q4,2.296230e+11,8.536500e+10,4.186200e+10,1.442580e+11,7.645500e+10,3.196000e+10,...,None,na,1.388811,5.33,3.7,4.160125,0,0,8.351953e+05,Q4
44,"META PLATFORMS, INC.",META,2024-03-31,2024-Q1,2.228440e+11,7.533000e+10,3.230700e+10,1.475140e+11,7.331500e+10,2.810100e+10,...,1-LAF,73,2.512104,5.33,3.8,4.327346,0,0,1.280566e+06,Q1

In [27]:
quarter

'2024-Q1'

In [23]:
idx = data.index[data.quarter==quarter][0]
idx

44

In [33]:
np.array(input_data).reshape(1, input_data.shape[0], input_data.shape[1]).shape

(1, 4, 52)

In [26]:
input_data = data.iloc[(idx-(4-1)):idx+1]
input_data

,name,TICKER,date,quarter,Assets,AssetsCurrent,Cash,AssetsNoncurrent,Liabilities,LiabilitiesCurrent,...,afs,sic_2d,GDP,interest_rate,unemployment_rate,median_cpi,small_cap,micro_cap,market_cap,qtr
41,"META PLATFORMS, INC.",META,2023-06-30,2023-Q2,2.066880e+11,6.956000e+10,2.878500e+10,1.371280e+11,7.265500e+10,2.992100e+10,...,1-LAF,73,3.878915,5.08,3.6,4.396425,0,0,6.986264e+05,Q2
42,"META PLATFORMS, INC.",META,2023-09-30,2023-Q3,2.162740e+11,7.837800e+10,3.689000e+10,1.378960e+11,7.340100e+10,3.053100e+10,...,None,na,4.782863,5.33,3.8,5.217921,0,0,7.626336e+05,Q3
43,"META PLATFORMS, INC.",META,2023-12-31,2023-Q4,2.296230e+11,8.536500e+10,4.186200e+10,1.442580e+11,7.645500e+10,3.196000e+10,...,None,na,1.388811,5.33,3.7,4.160125,0,0,8.351953e+05,Q4
44,"META PLATFORMS, INC.",META,2024-03-31,2024-Q1,2.228440e+11,7.533000e+10,3.230700e+10,1.475140e+11,7.331500e+10,2.810100e+10,...,1-LAF,73,2.512104,5.33,3.8,4.327346,0,0,1.280566e+06,Q1

In [47]:
data.iloc[data.index[data.quarter==quarter]]

,TICKER,date,quarter,Assets,AssetsCurrent,Cash,AssetsNoncurrent,Liabilities,LiabilitiesCurrent,LiabilitiesNoncurrent,...,EffectOfExchangeRateFinal,CashPeriodIncreaseDecreaseIncludingExRateEffectFinal,afs,sic_2d,GDP,interest_rate,unemployment_rate,median_cpi,small_cap,micro_cap
55,AAPL,2023-12-31,2023-Q4,3.535140e+11,1.436920e+11,4.076000e+10,2.098220e+11,2.794140e+11,1.339730e+11,1.454410e+11,...,0.0,1.123700e+10,None,na,1.388811,5.33,3.7,4.160125,0,0

In [49]:
horizon = 'quarter-ahead'
if horizon not in ['quarter-ahead', 'year-ahead', 'two-years-ahead']:
    raise ValueError (f"Unsupported horizon: {horizon}, must be quarter-ahead, year-ahead or two-years-ahead")